.back {
  background-image: url('../public/shakallllllllll.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 84vh;
  border-radius: "40px";
}

.wrapper {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  height: 70vh;
  border-radius: 28px;
}