.pic {
  background-image: url('../public/car.jpg');
  /* background-size: cover; */
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.about {
  background-image: url('../public/about-background.jpg');
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.how {
  background-image: url('../public/drivus9.jpg');
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.vision {
  background-image: url('../public/vision-background.jpg');
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.home {
  background-image: url('../public/1234.jpg');
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.blur {
  background: rgb(37, 34, 91);
  background: linear-gradient(106deg, rgba(37, 34, 91, 1) 28%, rgba(255, 255, 255, 0.4009978991596639) 100%);
}